<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="api_url" value="https://sandbox.moip.com.br/assinaturas/v1/"/>
    <add key="api_token" value="Basic SP/309yIpxn8QaWGmX7Cel4rjQce5oTPnbnkPABVJfzjXOShrBYt/me+wqRKYEtFEtyteF6h+a5rQW8PxNBveX05AWmyCh+ArcU1+tM9k3RoU8dSZJKHUGbJXNEJNB15DwCbNEqjUqsp5awMLGkHKTBSHS6GvZr+j9p2hMjjpHk="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
